<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>New Activity</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>New Activity</h1>
    <br>
    <form action="/processActivity" method="post" onsubmit="return confirm('Are you sure you want to add this activity?');">
    <fieldset>
        <strong>Here's the activity name that was generated for you!</strong>
        <br><br>
        <strong>Activity name: </strong><input class="elongate" type="text" value="<%- activityName %>" name='name'>
        <br><br>
        <strong>How long will it take? (in minutes): </strong> <input type='text' name='time'>
        <br><br>
        <strong>Instructions:</strong><br>
        <textarea name="instruction"></textarea>
    </fieldset>
    <br>
    <input type='reset'>
    <input type='submit' value='Add Activity'>
    </form>
    <br>
    <hr>
    <a href="/">Back to main page</a>
</body>
</html>