<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final Project</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Hey its our final project! Look at all the cool CSS on this header!</h1>
    <br><br>
    <h2>Bored? - Uses express and MongoDB </h2>
    <ul>
        <li>To add a new activity go to: <a href="/addActivity">Add an activity</a></li>
        <li>To get a random activity when you are bored <a href="/randomActivity">Get a random activity</a></li>
    </ul>
    <hr>
    <h2>API usage</h2>
</body>

</html>