<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Delete Activity</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Activities Deleted</h1>
    <%- table %>
    Total deleted: <%- num %>
    <br>
    <hr>
</body>
</html>